/******************  General features  ******************/

* {
	text-decoration: none;
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}
html
{
    min-height: 100%;
    position: relative;
}
header
{
    position: fixed;
    width: 100%;
}
li
{
    list-style: none;
}

a
{
    color: black;
}
a, img
{
    transition: .5s;
}
a:hover
{
    color: #FB0;
    text-decoration: none;
}

/******************  Header  ******************/
.logo
{
    z-index: 1;
}
.logo h2 span
{
    color: #FB0;
    display: inline;
}
.logo span img
{
    width: 32px;
    height: 32px;
    position: absolute;
    transition: opacity .5s ease-in-out;
    transform: translate(-16px, -16px);
}
.logo h2
{
    width: 50%;
    margin: 0;
    margin-left: 25%;
}
.logo span a:hover, .langFlags a img:hover
{
    transform: scale(1.5);
    z-index: 1;
}
.top-img
{
    opacity: 0;
}

.top-img:hover
{
    opacity: 100;
}
#mainSlider
{
    top: 0px;
    position: absolute;
    z-index: -1;
}
#mainSlider img
{
    max-width: 100%;
}

.med
{
    display: block;
}
.big
{
    display: none;
}
/************ Lateral menu *************/
.mainMenu
{
    width: 100%;
    position: relative;
    top: -100px;
}
#mLateral
{
    display: none;
}
.mainMenu label, #mLateral
{
    top: 50px;
    position:relative;
    z-index: 1;
}
.options
{
    height: 35px;
    position: relative;
    transition: left .5s ease-out .2s;
    left: -105%;
    text-align: center;
    height: 100%;
    background-color: #fff;
    padding-top: 25px;
}
.socialMedia
{
    top: 50px;
    transition: left .5s ease-out .2s;
}
.mainNav
{
    margin-top: 100px;
}
#mLateral, #social_lateral, .logo h2
{
    z-index: 1;
}
#mLateral:checked + .options
{
    left: 0;
}
.flagNav
{
    width: 15%;
    margin: 0 auto 1rem auto;
}
.langFlags
{
    display: flex;
}
.mainOptions, .mainOptions li, .langFlags li
{
    margin: 0 auto;
}
.mainOptions li, .langFlags li
{
    padding: 1em 0;
}

.logo
{
    margin: 15px 0;
}
.socialMedia
{
    margin: auto;
    margin-left: 0;
    width: 23%;
    position: relative;
    left: -100%;
    z-index: 1;
}
.socialMedia a
{
    margin: auto;
}
.logo, .socialMedia
{
    display: flex;
    text-align: center;
    align-items: center;
}

/******************  Footer  *********************/
footer
{
    background-color: #333;
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 70px;
}
footer span
{
    color: inherit;
    margin: auto;
}

@media all and (min-width: 720px)
{
    /********* Header and main menu **********/
    nav>label
    {
        display: none;
    }
    .options
    {
        background-color: unset;
        padding-top: 0;
    }
    
    .mainNav
    {
        margin-top: 0;
    }
    .options, .socialMedia
    {
        left: 0;
    }
    .socialMedia
    {
        top: 0;
    }
    .menuFlags
    {
        width: 100%;
        background-color: unset;
    }
    header div ul, header nav ul, .menuFlags
    {
        display: flex;
        text-align: center;
        align-items: center;
    }
    .mainNav
    {
        width: 75%;
        margin: 0;
        margin-left: auto;
    }
    
    .mainMenu
    {
        top: 0;
    }
}

@media all and (min-width: 960px)
{
    /********* Header and main menu **********/
    .flagNav
    {
        width: 12%;
    }
    .logo span
    {
        width: 18%;
    }
}

@media all and (min-width: 1280px)
{
    /********* Header and main menu **********/
    
    .flagNav
    {
        width: 10%;
    }
    .mainNav
    {
        width: 80%;
    }
    .logo span 
    {
        width: 15%;
    }
}
@media all and (min-width: 1440px)
{
    /*************  Main slider  **************/
    .med
    {
        display: none;
    }
    .big
    {
        display: block;
    }
}