
* {
	text-decoration: none;
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

html
{
    min-height: 100%;
    position: relative;
}
header
{
    position: fixed;
    width: 100%;
}
li
{
    list-style: none;
}
.logo h2 span
{
    color: #FB0;
    display: inline;
}
a
{
    color: black;
}
a, img
{
    transition: .5s;
}
a:hover
{
    color: #FB0;
    text-decoration: none;
}
.logo span img
{
    width: 32px;
    height: 32px;
    position: absolute;
    transition: opacity .5s ease-in-out;
    transform: translate(-16px, -16px);
}
.logo h2
    {
        width: 50%;
        margin: 0;
        margin-left: 25%;
    }
.logo span a:hover, .langFlags a img:hover
{
    transform: scale(1.5);
    z-index: 1;
}
.top-img
{
    opacity: 0;
}

.top-img:hover
{
    opacity: 100;
}
#mainSlider
{
    top: 0px;
    position: absolute;
    z-index: -1;
}
#mainSlider img
{
    max-width: 100%;
}

.med
{
    display: block;
}
.big
{
    display: none;
}
@media all and (min-width: 720px)
{
    /********* Header **********/
    .menuFlags
    {
        width: 100%;
    }
    header div ul, header nav ul, .menuFlags, .logo, .logo span
    {
        display: flex;
        text-align: center;
        align-items: center;
    }
    .mainMenu, .mainMenu li, .langFlags li
    {
        margin: 0 auto;
    }
    .mainMenu li, .langFlags li
    {
        padding: 1.5em 0;
    }
    .mainMenu
    {
        width: 75%;
        margin: 0;
        margin-left: auto;
    }

    .langFlags
    {
        width: 15%;
        margin: 0 auto 1rem auto;
    }
    .logo
    {
        margin: 15px 0;
    }
    .logo span
    {
        margin: auto;
        margin-left: 0;
        width: 23%;
    }
    .logo span a
    {
        margin: auto;
    }
}

@media all and (min-width: 960px)
{
    /********* Header **********/
    .langFlags
    {
        width: 12%;
    }
    .logo span
    {
        width: 18%;
    }
}

@media all and (min-width: 1280px)
{
    /********* Header **********/
    
    .langFlags
    {
        width: 10%;
    }
    .mainMenu
    {
        width: 80%;
    }
    .logo span 
    {
        width: 15%;
    }
}
@media all and (min-width: 1440px)
{
    .med
    {
        display: none;
    }
    .big
    {
        display: block;
    }
}