# File created to configure the symbolic links used in all the web requests

# We will allow the use of symbolic links.
# We will allow the server to rewrite uris
Options +FollowSymLinks
RewriteEngine On

# It change the absolute path D:\xampp\htdocs\davidweb\admin\api
# to the following symbolic path
RewriteBase /davidweb/admin/api/

##################################################
############      PICTURES RULES     #############
##################################################

############       GET PICTURES      #############
# This rule redirects all symbolic links related
# to GET PICTURES to the url api/get/pictures.php

RewriteCond %{THE_REQUEST} ^GET
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^pictures(.*)$ get/pictures.php?prm=$1&%{QUERY_STRING} [L]

##################################################
############      VIDEOS RULES     #############
##################################################

############       GET VIDEOS      #############
# This rule redirects all symbolic links related
# to GET VIDEOS to the url api/get/videos.php

RewriteCond %{THE_REQUEST} ^GET
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^videos(.*)$ get/videos.php?prm=$1&%{QUERY_STRING} [L]

